fastapi
uvicorn
httpx
python-dotenv
PyJWT==2.8.0
fastapi-sessions
python-jose
cryptography
sqlalchemy
psycopg2-binary
alembic>=1.13.1
pydantic-settings
pydantic[email]
python-multipart>=0.0.9
pandas
openai
passlib>=1.7.4
bcrypt==4.0.1
stripe>=9.7.0
pyotp
qrcode
pillow
openai-agents
websockets
pytest
pytest-asyncio
anthropic
google-genai

# tests
pytest>=8.2.2

# 追加: 非同期 PostgreSQL ドライバ
asyncpg
greenlet
boto3>=1.28.0
pywebpush

pillow # 画像処理
pytesseract # 画像からテキストを抽出
SpeechRecognition # 音声からテキストを抽出
gTTS # テキストから音声を生成
moviepy # 動画からテキストを抽出
